__pycache__/
**/__pycache__
**/*__pycache__
**/*__pycache__*
**/*__pycache__/
**/__pycache__/

*.pyc

Dockerfile
docker-compose.yml
.dockerignore
.env

.git
.gitignore
README.md
Dockerfile
.env
*.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python