venv/
accounts/__pycache__/decorators.cpython-312.pyc
ccounts/__pycache__/forms.cpython-312.pyc
accounts/__pycache__/models.cpython-312.pyc
accounts/__pycache__/urls.cpython-312.pyc
accounts/__pycache__/views.cpython-312.pyc*.pyc
__pycache__/
# db.sqlite3
__pycache__/
*.pyc
# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
# db.sqlite3

# Django migrations (optional if you want to version-control them)
*/migrations/__pycache__/

# VSCode / IDE stuff
.vscode/
.idea/

# System files
.DS_Store
# db.sqlite3
*.log

.env/
.env

.github/
